mixin link(linkText,anchor)
  a(href="https://github.com/hmrc/accessibility-assessment/blob/main/docs/READING-THE-REPORT.md" + anchor,target='_blank', title="Click here to view further information about this report")= linkText

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title HMRC Accessibility report for #{original.testSuite}
    style=assets.stylesheet
  body
    h1 HMRC Accessibility report for #{original.testSuite}
    p Get some help from our latest #[+link('report documentation','')].
    article
      h2 Summary
        .summary
          dl
            dt Test Suite Name
            dd=original.testSuite
          dl
            dt Build No
            dd
              a(href=original.buildUrl) #{original.buildNo}
          dl
            dt Number of Pages Captured
            dd=original.numberOfPagesCaptured
          dl
            dt Total Error Count
            dd=totalErrorCount
          each tool in tools
            dl
              dt #{tool.name} Error Count
              dd=tool.total
            dl
              dt #{tool.name} Version
              dd=tool.version

    article
      button(class='button show-error') Show Only Errors
      button(class='button hide-known-issues') Hide Known Issues
      button(class='button show-all') Show All
      h2 Violations
      nav.tabs
        ul
          each tool in tools
            li.tab
             a(href="#" + tool.techName)= tool.name
      each tool in tools
        div.revealed-by-tab(id=tool.techName)
          table.violations
            thead
              tr
                th.path URL Path #[+link('(?)','#url-path')]
                if tool.techName == 'axe'
                  th.code Code (axe docs) #[+link('(?)','#code-axe-docs')]
                th.description Description #[+link('(?)','#description')]
                th.snippet Snippet #[+link('(?)','#snippet')]
                th.alert Alert Level #[+link('(?)','#alert-level')]
                th.severity Severity #[+link('(?)','#severity')]
                th.knownIssue Known Issue #[+link('(?)','#known-issue')]
                th.info Further Information #[+link('(?)','#further-information')]
            tbody
              each path in tool.paths
                each page in path.pages
                  each violation in page.violations
                    - var alertLevel = violation.alertLevel.toLowerCase()
                    - var violationType = violation.knownIssue? 'violation--known-'+ alertLevel : 'violation--'+ alertLevel
                    tr(class=violationType)
                      td.path
                        a(href=violation.capturedPage,target='_blank') #{path.path}
                      if tool.techName == 'axe'
                        td.code
                          a(href=violation.helpUrl,target='_blank') #{violation.code}
                      td.description=violation.description
                      td.snippet
                        span.code=violation.snippet
                      td.alert=violation.alertLevel
                      case violation.severity
                        when 'info'
                            td.severity
                                span.info=violation.severity
                        when 'minor'
                            td.severity
                                span.minor=violation.severity
                        when 'moderate'
                            td.severity
                                span.moderate=violation.severity
                        when 'error'
                            td.severity
                                span.error=violation.severity
                        when 'serious'
                            td.severity
                                span.serious=violation.severity
                        when 'critical'
                            td.severity
                                span.critical=violation.severity
                        default
                            td.severity
                                span=violation.severity
                      td.knownIssue=violation.knownIssue
                      td.info
                        span.info #{violation.furtherInformation}
    script!=assets.javascript
